$adagio-green: #20bf55;
$adagio-gray: #282931;

.user-ui {
    box-shadow: 0px 1px 5px #28293165;
}

.card,
.card-body {
    border: 0;
    border-radius: 0;

    .card-img-top {
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        max-height: 50vh;
        object-fit: cover;
    }

    .profile-avatar {
        margin: -10vh 1vh 0vh 1vh;
        float: left;
        border-radius: 10%;
        width: 20vh;
        height: 20vh;
    }

    .card-text {
        margin-top: 1.5vh;
        clear: left;
    }

    .stats {
        font-weight: bold;
        a {
            color: black;
            &:hover {
                color: $adagio-green;
            }
        }
    }

    .names {
        a {
            color: black;
        }
        margin-top: 0;
        margin-bottom: 0;
    }

    .nick {
        margin-top: 0vh;
        margin-bottom: 0vh
    }
}

@keyframes fade {
    0%{
        color: $adagio-gray;
    }
    50%{
        color: $adagio-green;
    }
}