$adagio-green: #4CAF50;
$adagio-gray: #15151f;

.user-ui {
  box-shadow: 0px 1px 5px #15151f65;
}

.about {
  text-align: center;

  p {
    margin: 0;
  }
}

.card,
.card-body {
  border: 0;
  border-radius: 0;

  .card-img-top {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    max-height: 50vh;
    object-fit: cover;
  }

  .profile-avatar {
    margin: -10vh 1vw 1vh 1vw;
    float: left;
    border-radius: 5%;
    width: 20vh;
    height: 20vh;
  }

  .card-text {
    margin-top: 1.5vh;
    clear: left;
  }

  .card-footer {
    border: 0;
    border-radius: 0;
    background: $adagio-gray;
  }

  .stats-hover {
    font-weight: bold;
    color: #777;

    &:hover {
	  color: $adagio-green;
	  text-decoration: none;
    }
  }

  .profile-names {
    a {
      color: black;
    }

    margin-top: 0;
    margin-bottom: 0;
  }

  .profile-nick {
    margin-top: 0vh;
    margin-bottom: 0vh
  }
}

@keyframes fade {
  0% {
    color: $adagio-gray;
  }

  50% {
    color: $adagio-green;
  }
}
