/*GLOBAL*/
@import './fontawesome/scss/fontawesome';
@import './fontawesome/scss/solid';

$adagio-green: #20bf55;
$adagio-gray: #282931;

* {
  font-family: 'Roboto';
}

*:focus {
  outline: none !important;
  outline-color: $adagio-green;
  box-shadow: none !important;
}

html,
body {
  overflow-anchor: none;
  background: #e5e6eb;
}

.page-content {
  background: #e5e6eb;
}

.navbar {
  background: #282931;
}

.nav-link,
.link,
a {
  color: $adagio-green;
}

.nav-link:hover,
.link:hover,
a:hover {
  color: #1a9442;
  text-decoration: none;
}

.nick {
  color: $adagio-green;
}