/*GLOBAL*/
@import './fontawesome/scss/fontawesome';
@import './fontawesome/scss/solid';

$adagio-green: #4CAF50;
$adagio-gray: #15151f;
$adagio-white: #e9e9e9;

//Old green: #20bf55

* {
  font-family: 'Roboto';
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

html,
body {
  background: $adagio-white;
}


.page-content {
  background: $adagio-white;
}

.navbar {
  background: $adagio-gray;
}

.nav-link,
.link,
a {
  color: $adagio-green;
}

.nav-link:hover,
.link:hover,
a:hover {
  color: #1a9442;
  text-decoration: none;
  cursor: pointer;
}

.nick {
  color: $adagio-green;
}
