$adagio-green: #20bf55;
$adagio-gray: #282931;

.menu{
  color: #444;
}

.logo {
  align-self: center;
  height: 25px;
  width: 25px;
}

.navbar-collapse {
  line-height: 20px;
}

.navbar-nav {
  padding-top: unset;
  padding-bottom: unset;
}

.nav-link {
  padding-right: unset;
}

.avatar {
  line-height: unset;
  border-radius: 10%;
  height: 16px;
  width: 16px;
}

.dropdown-menu {
  position: relative;
  border-radius: 0;
  right: 0;
  left: unset;
  padding: 0;
  #notification-header,
  #notification-footer {
    background: $adagio-gray;
    color: #20bf55;
    padding-left: 0.5vh;
  }
  .true {
    background: #e5e6eb;
  }
  .false {
    background: #c6c7ce;
  }
}

.dropdown-item {
  padding: 0.5vh;
}

.logout {
  color: #923030;
}

.components {
  position: relative;
  margin-top: 48px;
}