<div class="page-content">
  <nav class="navbar navbar-expand-lg">
    <a class="brand navbar-brand" href="/">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-bars"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timeline"><i class="fas fa-newspaper"></i> Descubrir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forums"><i class="fas fa-comment-alt-lines"></i> Foros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/groups"><i class="fas fa-users"></i> Grupos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/classrooms"><i class="fas fa-chalkboard-teacher"></i> Aulas</a>
        </li>
      </ul>
      <a *ngIf="identified === false" class="nav-link mr-sm-2" href="/login"><i class="fas fa-sign-in-alt"></i> Inicia sesión</a>
      <a *ngIf="identified === false" class="nav-link mr-sm-2" href="/register"><i class="fas fa-address-card"></i> Registrate</a>
      <a *ngIf="identified === true" class="nav-link mr-sm-2" href="/profile"><i class="fas fa-user-circle"></i></a>
      <a *ngIf="identified === true" class="nav-link mr-sm-2" href="/messages"><i class="fas fa-envelope"></i></a>
      <a *ngIf="identified === true" class="nav-link mr-sm-2" href="/notifications"><i class="fas fa-bell"></i></a>
      <form *ngIf="identified === true" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Usuarios, Grupos" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
