label {
  padding-left: 1vh;
  margin-top: 0;
  margin-bottom: 0;
}

.login-card {
  align-content: center;
  background: -webkit-linear-gradient(-45deg, #348f52, #12973f);
  margin-top: 2vh;
  border: none;
}

.card-header,
.card-footer{
  padding: 1vh;
  color: #89898f;
  background: #282931;
}
.card-title,
.form-group{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button{
  margin: 2vh;
}
