$adagio-green: #4CAF50;
$adagio-gray: #15151f;

p {
  padding: 0.5em;
  font-family: 'Roboto';
  font-size: 100%;
  white-space: pre-wrap;
}

.row {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

.content,
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.publication,
.form {
  box-shadow: 0px 1px 5px #15151f65;
}

.form {
  margin-top: 0.5em;
}

.publication {
  border-radius: 0;
  margin-top: 1vh;
}

.card,
.card-body {
  padding: 0;
  border: 0;
  border-radius: 0;

  .card-header {
    border-radius: 0;
    padding: 0.5em;
    background: $adagio-green;
  }

  .publication-header {
    color: $adagio-gray;

    .date {
      color: #666;
    }
  }

  .avatar {
    float: left;
    padding: 0.5em;
    border-radius: 10%;
    height: 3.5em;
    width: 3.5em;
  }

  .card-text {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    clear: left;
  }

  .names {
    padding: 0.5em;
    margin: 0;

    a {
      color: $adagio-gray;
    }
  }

  .card-img-bottom {
    max-width: 100%;
    max-height: 70vh;
    object-fit: cover;
    padding: 0 0.5em 0 0.5em;
  }

  .publication-buttons {
    padding: 0.5em;

    .btn {
      margin-right: 0.5em;
      padding: 0;
    }

    .btn-sm {
      border-radius: 0%;
      background: none;
      color: $adagio-gray;

      &:hover {
        color: $adagio-green;
      }

      &:target {
        animation: move 0.5s ease 0s 1;

        @-webkit-keyframes move {
          0% {
            transform: translateY(0);
          }

          100% {
            transform: translateY(-10px);
          }
        }

        @keyframes move {
          0% {
            transform: translateY(0);
          }

          100% {
            transform: translateY(-10px);
          }
        }
      }

    }
  }

}

.form-group {
  display: inline;
  margin: 0;
  border: 0;

  textarea {
    white-space: pre-wrap;
    resize: none;
    border: none;
  }

  .btn {
    border: 0;
    padding: 0.2em;
    margin: 0.3em;
  }

  .submit {
    font-weight: bold;
    color: $adagio-green;
    &:hover {
      color: $adagio-gray;
    }
  }

  label{
    margin: 0;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    cursor: pointer;
  }

  select {
    width: auto;
  }
}
