<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="card form col-lg-8 content">
      <form #publicationForm="ngForm" (ngSubmit)="onSubmit(publicationForm)" *ngIf="identity" class="form-group">
        <!--<label for="text_field"></label>-->
        <textarea name="text_field" #text_field="ngModel" [(ngModel)]="publication.text_field" class="form-control" name="text_field" rows="4"></textarea>
        <button type="submit" [disabled]="!publicationForm.form.valid" class="btn-form btn adagio-gray">Publicar</button>
        <label for="file-upload" class="custom-file-upload btn-form btn btn-file">
          <i class="fas fa-camera"></i><i *ngIf="publication.media_field" class="fas fa-check"></i>
        </label>
        <input name="media_field" #media_field="ngModel" [(ngModel)]="publication.media_field" id="file-upload" type="file" accept=".png, .jpg, .jpeg"/>
        <label for="file-upload" class="custom-file-upload btn-form btn btn-file">
          <i class="fas fa-file-pdf"></i>
        </label>
        <input name="document_field" #document_field="ngModel" [(ngModel)]="publication.document_field" id="file-upload" type="file" accept=".pdf"/>
        <select name="type" #type="ngModel" [(ngModel)]="publication.type" *ngIf="identity.role === 'administrator' || identity.role === 'developer'" class="custom-select form-group form-control-sm">
          <option value="default" selected>Publicación normal</option>
          <option value="aviso">Aviso</option>
          <option value="convocatoria">Convocatoria</option>
          <option value="evento">Evento</option>
        </select>
      </form>
    </div>
    <div *ngIf="publications" class="col-lg-8 content">
      <div *ngFor="let publication of publications" class="card publication">
        <div class="card-body">
          <img class="avatar" src="{{ url +'get-user-avatar/' + publication.user_id.avatar }}" *ngIf="publication.user_id.avatar">
          <div class="publication-header">
            <h6 class="names">
              <a href="{{ '/profile/' + publication.user_id._id }}">{{publication.user_id.names}}</a>
              <small class="date"> {{ (publication.created_at | amFromUnix) | amLocale:'es_mx' | amTimeAgo }}</small><br>
              <small class="nick"> @{{publication.user_id.unique_nick}}</small>
            </h6>
          </div>
          <p class="card-text">{{publication.text_field}}</p>
          <img class="card-img-bottom" src="{{ url +'get-publication-media/' + publication.media_file }}" *ngIf="publication.media_file">
          <button class="btn btn-sm" (click)="saveLike()"><i class="fas fa-chevron-up"></i><span *ngIf="publication.likes > 0"> {{publication.likes}}</span></button>
          <button class="btn btn-sm" (click)="openComments()"><i class="fas fa-comment-alt"></i></button>
          <button class="btn btn-sm disabled" (click)="sharePublication()"><i class="fas fa-share"></i></button>
        </div>
      </div>
      <div class="col-lg-12 text-center content" *ngIf="publications && publications.length && pages > 1">
        <button class="col-lg-12 btn" (click)="viewMore()" *ngIf="!noMore">
          Ver más publicaciones
        </button>
      </div>
    </div>
  </div>
</div>