$adagio-green: #20bf55;
$adagio-gray: #282931;

pre {
    font-family: 'Roboto';
    font-size: 100%;
}
.row {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.content,
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.publication,
.form {
    box-shadow: 0px 1px 5px #28293165;
}

.form {
    margin-top: 0.5vh;
}

.publication {
    border-radius: 0;
    margin-top: 1vh;
}

.card-image-top {
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.card,
.card-body {
    border: 0;
    border-radius: 0;
    padding: 0.5vh;
    margin-bottom: 0.2vh;

    .publication-header {
        color: $adagio-gray;
        .date {
            color: #666;
        }
    }

    .avatar {
        float: left;
        margin-right: 0.5vh;
        border-radius: 10%;
        height: 6vh;
        width: 6vh;
    }

    .card-text {
        margin: 0;
        clear: left;
    }

    .names {
        a {
            color: black;
        }
    }
    .nick, .names {
        padding: 0;
        margin: 0;
    }

    .btn {
        margin-right: 1vh;
        padding: 0;
    }

    .btn-sm {
        border-radius: 0%;
        background: none;
        color: $adagio-gray;
        &:hover {
            color: $adagio-green;
        }
    }
}

.form-group {
    margin: 0.5vh;
    border: 1px solid #28293123;
    textarea {
        flex-wrap: break-word;
        resize: none;
        border-radius: 0;
    }
    .btn {
        border-radius: 5%;
        margin: 0.5vh;
    }
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
    select {
        width: auto;
    }
}